{% extends "inc/base.j2" %}
{% block content %}
  <div>
    <h3>mics</h3>
  </div>

  <section>
    <b>response classes</b>
    <ul>
      <li><a href="/api/misc/result-ok">/api/misc/result-ok</a></li>
      <li><a href="/api/misc/result-err">/api/misc/result-err</a></li>
    </ul>
  </section>
  <hr>

  <section>
    <b>empty filter</b><br>
    Zero: {{ zero | empty}}<br>
  </section>

{% endblock %}
