{% extends "inc/base.j2" %}
{% block content %}
  <div>
    <h3>test</h3>
  </div>

  <section>
    <b>response classes</b>
    <ul>
      <li><a href="/test-result-ok">test Result/OK</a></li>
      <li><a href="/test-result-err">test Result/Err</a></li>
    </ul>
  </section>
  <hr>

  <section>
    <b>empty filter</b><br>
    Zero: {{ zero | empty}}<br>
  </section>

{% endblock %}
